*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #fbfbe3;
}

/* Código de Header y Footer*/

    header{
        background-color:#ede1d2;
        width: 100%;
        clear: both;
        content:'';
        display: table;
        padding: 0;
    }
    .nav-link{
        font-size: 20px;
        margin: 25px;
    }
    #icon_nav{
        margin-right: 5px;
    }
    .Banner{
        width: auto;
        height: auto;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 10px;
    }
    a{
        color: #785B46;
        padding-left: 20px;
    }
    a:hover{
        color: #785B46;
    }
    
    footer{
        width: 100%;
        background-color: #ede1d2;
    }
    
    .row{
        margin-bottom: 40px;
    }
    .row{
        padding: 1%;
        justify-content: baseline;
    }
    h4{
        margin-top: 7px;
    }
    #h4ifr{
        margin: 0;
        padding: 0;
    }


/*Código de Home*/
    .hijo{
        width: 90%;
        height: 90%;
    }
    .img_home{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    /* Código de Galería Tazas-Modelos*/
    .tazas{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .sub_taza{
        text-align: center;
        font-size: 20px;
        font-weight: 100;
        margin-top: 10px;
    }


    

    /*Código de Sobre Nosotros*/
    .img_sn{
        width: 100%;
        height: 100%;
    }
    .caja{
        padding-bottom: 100px;
    }


    /*Código Contacto*/
    #grilla_contact{
        display: grid;
        grid-template-rows: 200px 200px 200px ;
        grid-template-columns: 500px 500px ;
        grid-template-areas:"A1 A3 A3"
                            "A2 A3 A3"
                            "A4 A3 A3";
        padding-bottom: 20px;
    }
    .contact{
        width: 90%;
        height: 90%;
        grid-area: A1 ;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 20px;
    }
    .list_contact{
        font-size: 15px;
        list-style-type: none;
    }
    .horario{
        width: 90%;
        height: 90%;
        grid-area: A2 ;
        font-size: 20px;
        padding-left: 20px;
    }
    .list_horario{
        font-size: 15px;
        list-style-type: none;
    }
    .insta{
        width:100%;
        height: 100%;
        grid-area: A3 ;
    }
    .formulario{
        width: 90%;
        height: 90%;
        grid-area: A4 ;
        font-size: 20px;
        padding-left: 20px;
    }
    .formu{
        background-color: #ede1d2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-area:  "A1 A2"
                    "A3 A4"
                    "A5 A5";
    }
    .AA{
        width: 90%;
        height: 90%;
    }
    .AAA{
        width: 90%;
        height: 90%;
    }
    .AAAA{
        width: 90%;
        height: 90%;
    }
    .AAAAA{
        width: 90%;
        height: 90%;
    }
    .A{
        width: 90%;
        height: 90%;
    }

    /*Código de Entrega*/
    .list_entrega{
        list-style-type: none;
    }

    .button{
        padding-bottom: 10px;
    }
    .title{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    .mapa{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #grid_ent{
        margin-bottom: 0;
    }

   